<div class="form-group clearfix">
    <label class="col-md-2 control-label" for="userInfoUrl">{{:: 'Dingtalk UserInfo Url' | translate}}</label>
    <div class="col-md-6">
        <input class="form-control" id="userInfoUrl" type="text" ng-model="identityProvider.config.userInfoUrl">
    </div>
    <kc-tooltip>{{:: 'dingtalk-userInfoUrl.tooltip' | translate}}</kc-tooltip>
</div>
<div class="form-group clearfix">
    <label class="col-md-2 control-label" for="appkey">{{:: 'Dingtalk App Appid' | translate}}</label>
    <div class="col-md-6">
        <input class="form-control" id="appkey" type="text" ng-model="identityProvider.config.appkey">
    </div>
    <kc-tooltip>{{:: 'dingtalk-appkey.tooltip' | translate}}</kc-tooltip>
</div>
<div class="form-group clearfix">
    <label class="col-md-2 control-label" for="appsecret">{{:: 'Dingtalk App Secret' | translate}}</label>
    <div class="col-md-6">
        <input class="form-control" id="appsecret" kc-password ng-model="identityProvider.config.appsecret">
    </div>
    <kc-tooltip>{{:: 'dingtalk-appsecret.tooltip' | translate}}</kc-tooltip>
</div>